<div id="news-content-page">
  <div class="news-header">
    <div class="top-left">
      <a href="#/index">  <span class="iconfont icon-zuojiantou"></span></a>
      <span class="sina-news">新浪新闻</span>
    </div>
    <div class="top-right">
      <span class="iconfont icon-comiisyuandiancaidan-copy"></span>
    </div>
  </div>
  <div class="news-block">
    <div class="news-title">
      <h1>{{title}}</h1>
      <!-- <h6>{{v.time}}</h6> -->
    </div>
    <div class="news-pic-wrap">
      <div class="news-pic"><img src={{image}} alt=""></div>
      <span>{{desc}}</span>
    </div>
    <div class="news-text">
      <span>大姐夫没看风机房空间涉及到饭店附近打工丽都饭店三地政府没我去而非我去而非</span>
    </div>
  </div>
  <div class="news-footer">
    <div class="pingluninput">
      <input type="text" placeholder="我来说两句...">
    </div>
    <div class="active">
      <span class="iconfont icon-pinglun"></span>
      <span class="iconfont icon-shoucang"></span>
      <span class="iconfont icon-fenxiang"></span>
    </div>
  </div>

</div>
