<div id="index-page" class="page">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="image/banner0.jpg" alt="">
        <span>深圳钉子户拒收2000万,坚守十几年</span>
      </div>
      <div class="swiper-slide">
        <img src="image/banner2.jpg" alt="">
        <span>航拍海南万人海滩“洗龙水”</span>
      </div>
      <div class="swiper-slide">
        <img src="image/banner3.jpg" alt="">
        <span>葡萄牙国家队抵达法国</span>
      </div>
      <div class="swiper-slide">
        <img src="image/banner4.jpg" alt="">
        <span>天！刘亦菲二次元粉发太美了</span>
      </div>
      <div class="swiper-slide">
        <img src="image/banner5.jpg" alt="">
        <span>邹市明备战美国首秀</span>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="news-wrap">
    <ul class="news-lists" >
      <li class="news-item" ng-repeat="v in news">
        <a href="#/index-content/{{$index}}">
          <div class="news-pic">
            <img src="{{v.img}}" alt="">
          </div>
          <div class="news-info">
            <span class="news-title">{{v.title}}</span>
            <span class="news-desc">{{v.desc}}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
<script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.swiper-pagination',
    loop:true,
  })
</script>
