<div id="footer">
  <div class="footer-inner">
    <ul class="footer-lists">
      <li class="footer-item">
        <a href="#/index" class="active" ng-class="{active:footer=='首页'}" ng-click="footer='首页'" ng-init="footer='首页'">
          <span class="icon iconfont icon-xinwen"></span><span>首页</span>
        </a>
      </li>
      <li class="footer-item">
        <a href="#/hot" ng-class="{active:footer=='热门'}" ng-click="footer='热门'">
          <span class="icon iconfont icon-paixingbang"></span><span>热门</span>
        </a>
      </li>
      <li class="footer-item">
        <a href="#/find" ng-class="{active:footer=='发现'}" ng-click="footer='发现'">
          <span class="icon icon-fangbiansearch iconfont"></span><span>发现</span>
        </a>
      </li>
      <li class="footer-item">
        <a href="#/my" ng-class="{active:footer=='我的'}" ng-click="footer='我的'">
          <span class="icon icon-wode iconfont"></span><span>我的</span>
        </a>
      </li>
    </ul>
  </div>
</div>
