<div id="my-page">
  <div class="my-top">
    <div class="my-menu">
      <ul class="menu-lists">
        <li class="menu-item">
          <a href=""><p class="iconfont icon-shoucang" id="souchang"></p><span>收藏</span></a>
        </li>
        <li class="menu-item">
          <a href=""><p class="iconfont icon-jiazaigengduo"></p><span>评论</span></a>
        </li>
        <li class="menu-item">
          <a href=""><p class="iconfont icon-qiabao"></p><span>我的卡包</span></a>
        </li>
        <li class="menu-item">
          <a href=""><p class="iconfont icon-gouwuche"></p><span>积分商城</span></a>
        </li>
      </ul>
    </div>
    <div class="my-touxiang">
      <img src="../image/xt.jpg" alt="">
    </div>
    <span id="myname">xiaoyao</span>
  </div>


  <div class="my-content">
    <section>
      <ul class="my-lists">
        <li class="my-item">
          <a href="">
            <span class="iconfont icon-yejianmoshi"></span>
            <span class="my-tips">夜间模式</span>
            <span class="jiantou"></span>
          </a>
        </li>
        <li class="my-item">
          <a href="">
            <span class="iconfont icon-xiazai"></span>
            <span class="my-tips">离线下载</span>
            <span class="jiantou"></span>
          </a>
        </li>
        <li class="my-item">
          <a href="">
            <span class="iconfont icon-Set_up"></span>
            <span class="my-tips">更多设置</span>
            <span class="jiantou"></span>
          </a>
        </li>
      </ul>
    </section>
    <section>
      <ul class="my-lists">
        <li class="my-item">
          <a href="">
            <span class="iconfont icon-iconfont"></span>
            <span class="my-tips">检查更新</span>
            <span class="jiantou"></span>
          </a>
        </li>
        <li class="my-item">
          <a href="">
            <span class="iconfont icon-yijianfankui"></span>
            <span class="my-tips">反馈</span>
            <span class="jiantou"></span>
          </a>
        </li>
        <li class="my-item">
          <a href="">
            <span class="iconfont icon-wodedingdan37"></span>
            <span class="my-tips">关于</span>
            <span class="jiantou"></span>
          </a>
        </li>
      </ul>
    </section>
  </div>

</div>
