<div id="find-page">
  <div class="search-wrap">
    <div class="search-inner">
      <span class="iconfont icon-fangdajing"></span>
      <input type="text" value="#揭穿假货遭威胁">
    </div>
  </div>
  <div class="block">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="image/fx1.jpg" alt="">
          <span>成龙范冰冰示范防狼术</span>
        </div>
        <div class="swiper-slide">
          <img src="image/fx2.jpg" alt="">
          <span>白玉兰落幕胡歌孙俪分获视帝视后</span>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="find-blocks find-one">
      <div class="find-blocks-inner">
        <ul class="one-lists">
          <li class="one-item">
            <a href="">
              <div class="one-img"><img src="" alt=""></div>
              <div class="one-info">
                <span class="one-info-title">我的订阅</span>
                <span class="one-info-desc">定制你的专属媒体</span>
              </div>
              <span class="youjiantou"></span>
            </a>
          </li>
          <li class="one-item">
            <a href="">
              <div class="one-imgs"><img src="" alt=""></div>
              <div class="one-info">
                <span class="one-info-title">吃喝玩乐</span>
                <span class="one-info-desc">本地最有特色的美食福利推荐</span>
              </div>
              <span class="youjiantou"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="find-blocks find-two">
      <div class="find-blocks-inner">
        <ul class="two-lists">
          <li class="two-item bangdan">
            <a href="">
              <div class="two-info">
                <span class="two-title">明星榜</span>
                <span class="two-desc">看你偶像排第几</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
          <li class="two-item zhibo">
            <a href="">
              <div class="two-info">
                <span class="two-title">赛事直播</span>
                <span class="two-desc">杭州绿军VS广州富力</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
          <li class="two-item zhongce">
            <a href="">
              <div class="two-info">
                <span class="two-title">新浪众测</span>
                <span class="two-desc">新酷产品免费试玩</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
          <li class="two-item smallgame">
            <a href="">
              <div class="two-info ">
                <span class="two-title">H5小游戏</span>
                <span class="two-desc">无需下载 即点即玩</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
      </div>
    </div>



    <div class="find-blocks find-two">
      <div class="find-blocks-inner">
        <ul class="two-lists">
          <li class="two-item bangdan">
            <a href="">
              <div class="two-info">
                <span class="two-title">新浪爱拍</span>
                <span class="two-desc">用照片证明实力</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
          <li class="two-item zhibo">
            <a href="">
              <div class="two-info">
                <span class="two-title">识趣玩物</span>
                <span class="two-desc">点击惊奇 + 惊喜</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
          <li class="two-item zhongce">
            <a href="">
              <div class="two-info">
                <span class="two-title">牛眼看盘</span>
                <span class="two-desc">股市互动视频直播</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
          <li class="two-item smallgame">
            <a href="">
              <div class="two-info ">
                <span class="two-title">新浪小说</span>
                <span class="two-desc">免费在线阅读</span>
              </div>
              <div class="two-img"><img src="" alt=""></div>
            </a>
          </li>
      </div>
    </div>




  </div>
</div>
<script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.swiper-pagination',
    loop:true,
  })
</script>
